header {
    background-color: lightcoral;
}

nav {
    background-color: lightcyan;
}

footer {
    background-color: lightslategray;
}

body > div {
    background-color: lightgoldenrodyellow;
}

section {
    background-color: lightpink;
}

article {
    background-color: lightgreen;
}

aside {
    background-color: lightgray;
}